
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 0, 0);
}
 
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo 
{
    position: relative;
    max-width: 130px;
}

header ul 
{
    position: relative;
    display: flex;
}

header ul li
{
    list-style: none;  
}

header ul li a
{
    display: inline-block;
    color: rgb(253, 253, 253);
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox
{
    position: relative;
    max-width: 600px;
}

.content .textBox h2 
{
    color: rgb(236, 236, 236);
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span
{
    color: #91097e;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p
{
    color: rgb(255, 255, 255);
}

.content .textBox .picsAdvance
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #91097e;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .textBox .picsAdvance:hover
{
    color: rgb(217, 255, 0) !important;
  box-shadow: 0 5px 16px rgb(177, 103, 164);
  transition: all 0.2s ease;
}

.content .imgBox
{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img
{
    max-width: 300px;
}

.thumb
{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-23%);
    display: flex;
}

.thumb li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover
{
transform: translateY(-20px);
}

.thumb li img
{
    max-width: 60px;
}

.sci
{
    position: absolute;
    right: 30px;
    transform: translateY(-50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li
{
    list-style: none;
}

.sci li a
{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}

.circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d897cf;
    clip-path: circle(600px at right 800px);
}

.hom
{
    color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #6b0a74;
  position: relative;
  border: 2px solid #ffffff;
  outline: 1px solid;
  outline-color: rgba(255, 0, 234, 0.4);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.hom:hover
{
    box-shadow: inset 0 0 20px rgb(255, 255, 255), 0 0 20px rgba(49, 138, 172, 0.4);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
  border-shadow: 
}

.don
{
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #6b0a74;
    position: relative;
    border: 2px solid #ffffff;
    outline: 1px solid;
    outline-color: rgba(255, 0, 234, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1); 
}

.don:hover
{
    box-shadow: inset 0 0 20px rgb(255, 255, 255), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
    border-shadow:  
}

.veka 
{
    border-radius: 20%;
}